@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&family=Stardos+Stencil&display=swap');
.nav {
  grid-area: n;
  background-color: #f5ffbf;
}

.item {
  color: rgb(29, 29, 31);
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
}

.item.active {
  color: rgb(143, 143, 143);
}