.app-wrapper {
  display: grid;
  width: 1200px;
  margin: 0 auto;

  grid-template-areas: 
  "h h"
  "n c";
  
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}

.header img {
  width: 40px;
}

.header {
  grid-area: h;
  background-color: #FFFC00
}

.nav {
  grid-area: n;
  background-color: #F43C6A;
}

.content {
  grid-area: c;
  background-color: #6D7ED6;
}